/* Apply styles to the entire main content area */
.main-content {
    display: flex; /* Use flexbox to create a layout with left panel and content area */
    background-color: #F8F8F8; /* Light gray background */
    border: none;
    padding-right: 20px;
    height: 500px;
}

/* Apply styles to the left panel */
.left-panel {
    flex: 0.6; /* Take a part of the global width */
    padding: 20px; /* Add padding for spacing */
    background-color: #000000;
    height: 100%;
}

nav a{
    color: #f2f2f2;
    text-decoration:none;
}

nav a:hover {
    color: blue;
    text-decoration: underline;
}

/* Apply styles to the content area */
.right-panel {
    flex: 2.4; /* Take up two-thirds of the available width */
    padding: 20px; /* Add padding for spacing */
    background-color: #FFFFFF; /* White background */
    border: 1px solid #E0E0E0; /* Light gray border */
    height: 100%;
}

/* Apply styles to the footer (optional) */
footer {
    position:fixed;
    left:0;
    bottom:0;
    height:30px;
    width:100%;
    background-color: #333; /* Dark gray background */
    color: #FFFFFF; /* White text color */
    text-align: center; /* Center align footer content */
    /* Add padding for spacing: height*/
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.sidenav {
    font-family: "Courier New", "Courier", monospace;
    color: #81e0ba;
    text-align: left;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a{
    color: #81e0ba;
    padding: 8px 8px 8px 32px;
    text-align: left;
    text-decoration: none;
    font-size: 1em;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #e55252;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#popup-window {
    position: fixed;
    width: 500px;
    height: 450px;
    background-color: #3D8DAE;
    border: 2px solid black;
    padding: 10px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
}