/* Apply styles to the entire main content area */
.main-content {
    display: flex; /* Use flexbox to create a layout with left panel and content area */
    background-color: #F8F8F8; /* Light gray background */
    border: none;
    padding-right: 20px;
    height: 500px;
}

/* Apply styles to the left panel */
.left-panel {
    flex: 0.6; /* Take a part of the global width */
    padding: 20px; /* Add padding for spacing */
    background-color: #000000;
    height: 100%;
}

nav a{
    color: #f2f2f2;
    text-decoration:none;
}

nav a:hover {
    color: blue;
    text-decoration: underline;
}

/* Apply styles to the content area */
.right-panel {
    flex: 2.4; /* Take up two-thirds of the available width */
    padding: 20px; /* Add padding for spacing */
    background-color: #FFFFFF; /* White background */
    border: 1px solid #E0E0E0; /* Light gray border */
    height: 100%;
}

/* Apply styles to the footer (optional) */
footer {
    position:fixed;
    left:0;
    bottom:0;
    height:30px;
    width:100%;
    background-color: #333; /* Dark gray background */
    color: #FFFFFF; /* White text color */
    text-align: center; /* Center align footer content */
    /* Add padding for spacing: height*/
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
